
/* Jerrod Bolton */
/* This is a body tage selector */
body {
  font: 1em sans-serif;
  background-color: rgb(50, 49, 49);
  color: rgb(0, 255, 225);
  font-size: 30px
}
/* this is a anchor selecter  */
a{
  text-align: center;
}
/* This is a selector with two elements inside of the beginning of the selector */
h1,p{
text-align: center;
}  
/* this is anchor tag selecter */
.linkTag,a {  
  text-align:center;
  color: rgb(0, 255, 225);;
}
/* This is a tag selector for a hove */
a:hover {
  color: green;
  font-size: 60px
}
/* This is a class select */
.image {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 700px;
}
/* this is a div class */
.listOfObjects {
  text-align: left;
  font-size: 30px;
  color: white;
}